<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>About</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Hind:400,300,600" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Italianno" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row">
            <div class="twelve columns" id="header">
                <a href="index.html">
                    <h4 id="logo">Vili-Petteri Maunu</h4>
                </a>
                <ul>
                    <li id="about"><a href="/about">About</a></li>
                    <li id="portfolio"><a href="/portfolio">Portfolio</a></li>
                    <li id="home"><a href="/userpage">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="twelve columns" id="slab">
                <p></p>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="five columns">
                <img src="./images/paapaippu.jpg" id="image" alt="">

                <img src="./images/kerttukelmi.jpg" id="image" alt="">
            </div>
            <div class="seven columns" id="poem">

                <h5>ICT-engineering student</h5>
                <p>

                    I'm a first year ICT-engineering student from Salo, Finland.
                    I've only just started my studies but I'm already fully immersed in programming.
                    I've been dabbling with computers all my life but I've never been too deep on the technical
                    side of things until the ripe age of 31. <br>
                    I instantly took a liking to the problem solving aspect of programming and I've been hooked since.
                    For now I only have a rudimentary understanding of python and programming in general but the rate of
                    learning has been staggering.
                </p>
                <h5>I have two lovely children and two (almost) wonderful dogs</h5>
                <p>
                    I spent a little over a 100% of my freetime doing schoolwork or extra programming stuff.
                    I work fulltime as a nurse in A-Klinikka in a rehab for people with alcohol dementia. When I'm not
                    working I'm with my two
                    children or talking the dogs for a walk. "Hetken kun vielä jaksaa".
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="twelve columns" id="footer">
                <img src="./images/fox.png" alt="" id="fox">
                <ul>
                    <li>Copyright is a legal concept that provides protection for the creators of original works.</li>
                    <li>Copyright law gives creators exclusive rights to reproduce, distribute, and display their works.
                    </li>
                    <li>The copyright owner has the right to authorize or prohibit the use of their work by others.</li>
                    <li>In order for a work to be protected by copyright, it must be original and fixed in a tangible
                        form.</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>