<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>VPM</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Hind:400,300,600" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Italianno" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body id="homeb">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns" id="header">
        <a href="index.html">
          <h4 id="logo">The Fox Den</h4>
        </a>
        <ul>
          <li id="home"><a href="/logout">Logout</a></li>
          <li id="about"><a href="/about">About</a></li>
          <li id="portfolio"><a href="/portfolio">Portfolio</a></li>
          <li id="home"><a href="/userpage">Home</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="twelve columns" id="slab">
        <p></p>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="five columns">
        <div class="image">
          <img src="./css/images/mina.png" id="image" alt="">
        </div>
        <div id="quotes">
          <p>Naamis, The Fox</p>
        </div>
      </div>
      <div class="seven columns" id="poem">

        <h5>Naamis, the web developing fox</h5>
        <p>
          Naamis was a young fox who lived in a small village deep in the heart of a forest. Unlike the other foxes in his village,
          Naamis was not content with simply chasing after rabbits and playing in the streams. He was always on the lookout for something more.
        </p>
        <p>

          One day, while exploring the village, Naamis stumbled upon a discarded laptop. It was love at first sight. 
          Naamis spent every waking moment learning how to use it and soon became an expert in coding and website design.
          
          With his newfound skills, Naamis decided to put his talents to use. 
          He worked tirelessly day and night, honing his skills and creating his very own website. 
          He called it "The Fox Den," and it became an instant hit among the other animals in the forest.
          </p>
          <p>
          The Fox Den was filled with articles and videos about the wildlife in the forest, tips on how to live a greener lifestyle, and fun games and activities for young animals. 
          Naamis's website was more than just a source of entertainment, it was a platform for education and community-building.
          
          Word of Naamis's website spread quickly throughout the forest, and soon, other animals from all over were visiting The Fox Den to learn and play. 
          Naamis was thrilled with the impact his website was having on his community, and he was determined to keep it growing and evolving.
          
          Years passed, and The Fox Den became one of the most popular websites in the animal kingdom. 
          Naamis had not only created a platform for education and fun, but he had brought the animals of the forest together in a way that no one thought was possible.
        </p>
          <p>
          Naamis's legacy lived on, and generations of animals would remember him as the young fox who made his own website and changed the world.
          </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="twelve columns" id="footer">
        <img src="./css/images/fox.png" alt="" id="fox">
        <ul>
          <li>Copyright is a legal concept that provides protection for the creators of original works.</li>
          <li>Copyright law gives creators exclusive rights to reproduce, distribute, and display their works.</li>
          <li>The copyright owner has the right to authorize or prohibit the use of their work by others.</li>
          <li>In order for a work to be protected by copyright, it must be original and fixed in a tangible form.</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>